body{
    background-color: grey;
}

.enter{
 
    border: 2px solid #000000;
    padding:10px;
    border-radius: 3.5px;
    margin-top: 200px;
    margin-left: -350px;

}
.operation{
 
    border: 2px solid #000000;
    padding:10px;
    height: auto;
    width: auto;
    border-radius: 3.5px;
    margin-top: 70px;
    margin-left: -130px;
    z-index: 15;
    

}
.result{
    margin-top: 200px;
}
