

.enter{
 
    border: 2px solid #000000;
    padding:10px;
    border-radius: 3.5px;
    margin-top: 200px;
    margin-left: -350px;

}
.operations{
 
    border: 2px solid #000000;
    padding:10px;
    border-radius: 3.5px;
    margin-top: 180px;
    margin-left: -100px;
    

}